
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Fredericka+the+Great&display=swap');

.contactos{
    margin: 0px;
}

.info-contacto{ 
    padding: 15px;
    padding-top: 0px;
    margin-bottom: 30px;
    border-bottom: 2px solid #378D15;
}

.info-contacto .titulo-columna{
    font-family: "Pacifico" cursive;
    font-weight: 100;
    
}

.info-contacto [class*="icon-"]{
    font-size: 1.3em;
    margin-right: 12px;
    
}

.info-contacto .social-icon{
    margin: 5px;
    justify-content:flex-start;
}

.info-contacto .social-icon [class*="icon-"] {
    background-color: #378D15;
    color:white;
    margin: 5px;
}

.formulario{
    padding: 10px;
    padding-top: 0px;
}


.formulario-label, .formulario-input-txt, .formulario-textarea{
    display: block;
    width: 100%;     
}

.formulario-input-txt{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.formulario-textarea{
    margin-top: 10px;   
    min-width: 100%;
    max-width: 100%; 
    min-height: 100px; 
    max-height: 200px;    
}

.formulario-btn{
    border:none; 
    cursor:pointer; 
    font-size: 1em;
}

.info-contacto .desc-columna{
    font-size: 18px;
}

@media screen and (min-width:480px){
    .info-contacto{
        height: auto;
        border-bottom: none;
        border-right: 2px solid #378D15;        
    }
 }
